Flask>=3.1,<4.0
python-dotenv>=1.0,<2.0

numpy>=2.2,<3.0
pandas>=2.2,<3.0
scikit-learn>=1.7,<2.0
joblib>=1.5,<2.0

requests>=2.32,<3.0
cohere>=5.18,<6.0

sentence-transformers>=5.1,<6.0
transformers>=4.57,<5.0
openai-whisper==20250625
imageio-ffmpeg>=0.6,<1.0